<div class="col-8 offset-2">
  <h3><i class="fa fa-check-square-o" aria-hidden="true"></i> Approve Employees</h3>
  <hr>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>S.No:</th>
        <th>Employee Name</th>
        <th>Company</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @employee.each_with_index do |employee,i|%>
      <tr>
        <td><%= i+1 %></td>
        <td><%= employee.name %></td>
        <td><%= employee.company.name %></td>
        <td><%= employee.phone %></td>
        <td>
          <a class="btn btn-info btn-sm px-3" href="employee/<%= employee.id %>/approve" role="button" title="Approve Employee">
            <i class="fa fa-check" aria-hidden="true"></i> Approve
          </a>
        </td>
       </tr>      
    <% end %>
    </tbody>
  </table>
  <hr/>
  <div class="text-center"><a class="btn btn-secondary  px-4" href="/dashboard" role="button" title="back">Back</a></div>      
</div>