<div class="col-8 offset-2">
  <h3>Approve Employees</h3>
  <hr>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>S.No:</th>
        <th>Employee Name</th>
        <th>Company</th>
        <th>Phone</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% @employee.each_with_index do |employee,i|%>
      <tr>
        <td><%= i+1 %></td>
        <td><%= employee.name %></td>
        <td><%= employee.company.name %></td>
        <td><%= employee.phone %></td>
        <td><%= link_to "approve", approve_employee_path(employee.id), class: "btn btn-danger" %></td>
       </tr>      
    <% end %>
    </tbody>
  </table>      
  <a class="btn btn-secondary" href="/dashboard" role="button">Back</a>
</div>