<%= form_for :session, url: login_path do |form| %>
  <div class="col-8 mx-auto">    
    <div class="card">
      <div class="card-header text-center">
        <h3>Login</h3>
      </div>
      
      <div class="card-body text-right">
        <div class="form-group row">
          <%= form.label :email, for: "email", class:"col-sm-4 col-form-label"%>
          <div class="col-sm-6">
            <%= form.email_field :email,for: "email", class: "form-control", autofocus: true, autocomplete: "email", placeholder: "Enter Email ID", required: true %>
          </div>
        </div>
        <div class="form-group row">
          <%= form.label :password, for: "password", class:"col-sm-4 col-form-label" %>
          <div class="col-sm-6">
            <%= form.password_field :password, for: "password", class: "form-control", autocomplete: "current-password", placeholder: "Enter Password", required: true %>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center my-4">
      <div class="col-2">
        <strong><%= link_to "Back", root_path, class: "btn btn-secondary btn-md btn-block my-2 my-sm-0" %></strong>
      </div>
      <div class="col-2">
        <strong><%= form.submit( "login",{ class: "btn btn-primary btn-md btn-block my-2 my-sm-0", data:{disable_with: "logging in.."}})%></strong>
      </div>
    </div>
  </div>
<% end %>