<div class="card p-4 mb-3 col-8 offset-2">
  <h3><i class="fa fa-check-square-o" aria-hidden="true"></i> Employees</h3>

  <hr>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th>S.No:</th>
        <th>Employee Name</th>
        <th>Credit</th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each_with_index do |employee,i|%>
        <tr>
          <td><%= i+1 %></td>
          <td><%= employee.name %></td>
          <td>
            <%= form_for employee, url: employee_profile_path(employee.id) do |f| %>  
              <%= f.number_field :credit, value: employee.credit ? '%.2f' % employee.credit : nil, min: 0, step: 0.01, for: "credit", class: "form-control", autocomplete: "credit", placeholder: "Enter credit", required: true %>
              <%= button_tag type: 'submit', class: "btn btn-secondary px-3", title: "Update Cart" do %>
                <i class="fa fa-check" aria-hidden="true"></i> Update
              <% end %>
            <% end %> 
          </td>
        </tr>      
      <% end %>
    </tbody>
  </table>    
</div>

<div class="card p-4 col-8 offset-2">
  <h3><i class="fa fa-check-square-o" aria-hidden="true"></i> Users</h3>

  <hr>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th>S.No:</th>
        <th>User Name</th>
        <th>Credit</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each_with_index do |user,i|%>
        <tr>
          <td><%= i+1 %></td>
          <td><%= user.name %></td>          
          <td>
            <%= form_for user, url: user_profile_path(user.id) do |f| %>
              <%= f.number_field :credit, value: user.credit ? '%.2f' % user.credit : nil, min: 0, step: 0.01, for: "credit", class: "form-control", autocomplete: "credit", placeholder: "Enter credit", required: true %>
              <%= button_tag type: 'submit', class: "btn btn-secondary px-3", title: "Update Cart" do %>
                <i class="fa fa-check" aria-hidden="true"></i> Update
              <% end %>
            <% end %>
          </td>
        </tr>      
      <% end %>
    </tbody>
  </table>    
</div>