<%= form_for @chef do |form| %>

  <div class="col-8 mx-auto">    
    <div class="card">
      <div class="card-header text-center">
        <h3><%= yield(:card_header) %></h3>
      </div>

      <div class="card-body text-right">
        <div class="form-group row">
          <%= form.label :name, for: "name", class:"col-sm-4 col-form-label"%>
          <div class="col-sm-6">
            <%= form.text_field :name, for: "name", class: "form-control", autofocus: true, autocomplete: "name", placeholder: "Enter your full name", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :phone, for: "phone", class:"col-sm-4 col-form-label" %>
          <div class="col-sm-6">
            <%= form.text_field :phone, for: "phone", class: "form-control", autocomplete: "phone", placeholder: "Enter 10-Digit Contact Number", required: true %>
          </div>
        </div>

        <div class="form-group row">
          <%= form.label :food_store, for: "food_store", class:"col-sm-4 col-form-label"  %>
          <div class="col-sm-2 my-2">
            <%= form.select(:food_store_id)  do %>
              <% @store.each do |s| -%>
                <%= content_tag(:option, s.name, value: s.id) %>
              <% end %>
            <% end %>
          </div>      
        </div>       
      </div>
    </div>
    
    <div class="row justify-content-center my-4"> 
      <div class="col-2">
        <strong><%= form.submit( yield(:button_text),{ class: "btn btn-primary btn-md btn-block", data:{disable_with: "saving..."}})%></strong>
      </div>
    </div>
  </div>
<% end %>
