<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header text-center">
        <h3><%= @chef.name.titleize %></h3>
      </div>

      <div class="card-body text-center">
        <p><b>Phone:</b> <%= @chef.phone%></p>
        <p><b>Company:</b> <%= @chef.food_store.name %> </p>
      </div>
    </div>
    <% if current_user.admin? %>
      <div class="row justify-content-center my-4">
        <div class="col-2">
          <strong><%= link_to "Approve", approve_chef_path(@chef.id), class: "btn btn-secondary btn-md btn-block my-2 my-sm-0" %></strong>
        </div>
        <div class="col-2">
          <strong><%= link_to "Back", chefs_path, class: "btn btn-secondary btn-md btn-block my-2 my-sm-0" %></strong>
        </div>
      </div>
    <% end %>
  </div>
</div>