<div class="col-8 offset-2">
  <h3><i class="fa fa-check-square-o" aria-hidden="true"></i> Approve Chefs</h3>

  <hr/>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th>S.No:</th>
        <th>Chef Name</th>
        <th>Food Store</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
    <% @chef_profiles.each_with_index do |chef,i|%>
      <tr>
        <td><%= i+1 %></td>
        <td><%= chef.name %></td>
        <td><%= chef.food_store.name %></td>
        <td><%= chef.phone %></td>
        <td>
          <%= link_to fa_icon("check", text: "Approve"), approve_chef_path(chef.id), class: "btn btn-sm btn-primary px-3" %>
          <%= link_to fa_icon("times", text: "Reject"), reject_chef_path(chef.id), class: "btn btn-sm btn-secondary px-3" %>
        </td>
      </tr>      
    <% end %>
    </tbody>
  </table>

  <hr/>
  
  <div class="text-center"><a class="btn btn-secondary  px-4" href="/dashboard" role="button" title="back">Back</a></div>  
</div>