<p class="w-100  ml-4 text-muted">
  Applied filter: <%=@category.name%>
  <a href="/">reset</a>  
</p>
<% @stores.each do |s| %>
  <% s.food_items.each do |i| %>
    <div class="col-md-4 col-sm-12">
      <div class="card text-left mb-2">
        <div class="card-body">
          <h4 class="card-title"><%= i.name %></h4>
          <p class="card-body text-muted p-0"><%= i.description %></p>
          <p class="card-body p-0"><strong>Rs.<%= i.price %></strong></p>
          <% if logged_in? %>
            <% unless current_user.chef? || current_user.admin? || ( current_user.employee? && !current_user.employee_profile.approved?) %>
              <%= form_for CartItem.new, url: carts_add_path do |f| %>
                <%= f.hidden_field :food_item_id, value: i.id %>
                <div class="form-group row">
                  <%= f.label :quantity, for: "quantity", class:"col-sm-3 col-form-label" %>
                  <div class="col-sm-3">
                    <%= f.number_field :quantity, value: 1, min: 1, max: 5, class: "form-control"%>
                  </div>
                  <%= f.submit "Add to Cart", class: "btn btn-primary"%>
                </div>
              <% end %>
            <% end %>          
          <% end %>                 
        </div>
      </div>
    </div>
  <% end %>
<% end %> 