<h3>Favourite Orders</h3>

<hr/>

<% @orders.each do |order| %>
  <div class="card col-8 offset-2 p-0 mb-4">
    <div class="card-header d-flex justify-content-between">
      <div class="col-6">
        <h5>Food Store:<strong class= "text-info"><%= order.store.name %></strong></h5>      
      </div>

      <div class="col-5">
        <p class= "mb-0 text-muted text-right">Date: <%= order.created_at.strftime("%m/%d/%Y") %></p>

        <% if order.favourite %>
          <%= link_to "Remove Favourite", set_favourite_path(order), class: "btn btn-sm btn-secondary px-3" %>            
        <% else %>
          <%= link_to "Add to Fovourite", set_favourite_path(order), class: "btn btn-sm btn-success px-3" %>
        <% end %>

      <%= link_to "Reorder", reorder_cart_path(order), class: "btn btn-sm btn-success px-3" %>

      </div>
    </div>

    <div class="card-body">
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>S.No:</th>
            <th>Food Item</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            
          </tr>
        </thead>

        <tbody>
          <% order.cart_items.each_with_index do |item,i|%>
            <tr>
              <td><%= i+1 %></td>
              <td><%= item.food_item.name %></td>
              <td>Rs.<%= item.food_item.price %></td>
              <td><%= item.quantity %></td>
              <td>Rs.<%= item.sub_total %></td>
            </tr>      
          <% end %>
        </tbody>
      </table>
      <% if order.review.present? %>
        <div class="card-body">
          <h3>Order Review</h3>
          <p>Rating: <%= order.review.rating %></p>
          <p>Feedback: <%= order.review.feedback %></p>        
        </div>
      <% end %>
    </div>

    <div class="card-footer">
      <p class="mb-0">
        <strong>Total: Rs.<%= order.total %></strong>
        <% if order.review.present? %>
          <%= link_to "Edit Review", edit_review_path(order.review),class:"float-right" %>
          <%= link_to "Delete Review |", review_path(order.review), class: "float-right", method: :delete, data: { confirm: "Are you sure?" } %>
        <% else %>
          <%= link_to "Add Review", new_review_path(order_id: order), class: "float-right", title: "add feedback for this order" %>
        <% end %>
      </p>
    </div>
  </div>  
<% end %>