<% if @items_filtered %>
  <p class="w-100 mr-4 text-muted text-right">
    Applied filter: <%= @store.name %>
    <%= link_to "reset", reset_path %>
  </p>
<% end %>

<% obj.each do |i| %>
  <div class="col-md-4 col-sm-12">
    <div class="card text-left mb-2">
      <div class="card-body">
        <h4 class="card-title"><%= i.name %></h4>
        <p class="card-body text-muted p-0"><%= i.description %></p>
        <p class="card-body p-0"><strong>Rs.<%= i.price %></strong></p>
        <% if logged_in? %>
          <%= render "pages/order_button", obj: i %>         
        <% end %>                 
      </div>
    </div>
  </div>    
<% end %>