<div class="row justify-content-between">
  <div class="title col-4">
    <h3>Available Food Items</h3>
  </div>

  <div class="filter d-flex justify-content-end col-md-4">
    <div> 
      <form action="/" method="GET">
        <select name="category_filter" onchange="this.form.submit()">
          <option value="">filter by category</option>
          <% @category_options.each do |category| %>
            <% if session[:category_filter] && category.id == @category.id %>
              <option value="<%= category.id %>" selected><%= category.name %></option>
            <% else %>
              <option value="<%= category.id %>"><%= category.name %></option>
            <% end %>
          <% end %>
        </select>
      </form>    
    </div>

    <div>
      <form action="/" method="GET">
        <select name="store_filter" onchange="this.form.submit()">
          <option value = "">filter by food store</option>
          <% @store_options.each do |store| %>
            <% if session[:store_filter] && store.id == @store.id %>
              <option value="<%= store.id %>" selected><%= store.name %></option>
            <% else %>
              <option value="<%= store.id %>"><%= store.name %></option>
            <% end %>
          <% end %>
        </select>
      </form>    
    </div>
  </div>
</div>

<hr class="mt-0"/>

<div class="row">
  <% if session[:store_filter] %>
    <%= render "store_filter", obj: @items_filtered %>        
  <% elsif session[:category_filter] %>
    <%= render "category_filter" %>
  <% else %>
    <%= render "store_filter", obj: @items %>
  <% end %>  
</div>