<div class="card p-4 col-6 offset-3">
  <h3><i class="fa fa-building" aria-hidden="true"></i> Companies</h3>

  <hr/>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th>S.No:</th>
        <th>Company Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
    <% @companies.each_with_index do |company,i|%>
      <tr>
        <td><%= i+1 %></td>
        <td><%= company.name %></td>
        <td>
          <%= edit_link(edit_company_path(company.id)) %>
          <%= delete_link(company_path(company.id)) %>
        </td>
      </tr>      
    <% end %>
    </tbody>
  </table>

  <hr/>
  
  <div class="text-center">
    <%= link_to "New Company", new_company_path, class: "btn btn-primary px-4", title: "create new company" %>
  </div>
</div>