<% if @current_order %>
  <div class="col-8 offset-2">
    <h4> Current Order Status: <strong class= "text-info"><%= @current_order.order_status %></strong></h4>

    <hr>

    <table class="table table-borderless">
      <thead>
        <tr>
          <th>S.No:</th>
          <th>Food Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
      </thead>

      <tbody>
      <% @current_order.cart_items.each_with_index do |item,i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= item.food_item.name %></td>
          <td>Rs.<%= item.food_item.price %></td>
          <td><%= item.quantity %></td>
          <td>Rs.<%= item.sub_total %></td>
        </tr>      
      <% end %>
      </tbody>
    </table>

    <hr/>
    
    <div class="d-flex justify-content-between">
      <div class="col-3"><p><strong>Total: Rs.<%= @current_order.total %></strong></p></div>
      </div>
    </div> 
  </div>
<% else %>
  <hr/>
  <h3 class="text-center text-muted">No Active Order</h3>
<% end %>
