<% if @current_order %>
  <h2> Current Order Status: <%=@current_order.order_status%></h2>
  <hr>
  <div class="col-8 offset-2">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>S.No:</th>
          <th>Food Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
      <% @current_order.cart_items.each_with_index do |item,i|%>
        <tr>
          <td><%= i+1 %></td>
          <td><%= item.food_item.name %></td>
          <td>Rs.<%= item.food_item.price %></td>
          <td><%= item.quantity %></td>
          <td>Rs.<%= item.sub_total %></td>
        </tr>      
      <% end %>
      </tbody>
    </table>
    <p class="text-right mr-6"><strong>Total: Rs.<%= @current_order.total %></strong></p>
  </div>
<% else %>
  <div class="text-center text-muted">No Current Order</div>
<% end %>