<% if current_cart.cart_items.present? %>
  <div class="col-md-8 offset-md-2 col-sm-12">
    <h3><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart</h3>
    <hr>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th>S.No:</th>
          <th>Food Item</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Subtotal</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
      <% @item.each_with_index do |item,i|%>
        <tr>
          <td><%= i+1 %></td>
          <td><%= item.food_item.name %></td>
          <td>Rs.<%= item.food_item.price %></td>
          <td>        
            <%= form_for item, url: item_update_path(item.id) do |f| %>
              <%= f.number_field :quantity, value: item.quantity, max:5, min:1 %>
              <%= button_tag type: 'submit', class: "btn btn-secondary btn-sm px-3", title: "Update Cart" do %>
                <i class="fa fa-check" aria-hidden="true"></i>
              <% end %>
            <% end %>          
          </td>
          <td>Rs.<%= item.sub_total %></td>
          <td>
            <%= delete_link(item_delete_path(item.id)) %>
          </td>          
        </tr>      
      <% end %>
      </tbody>
    </table>
    <hr/>
    <div class="d-flex justify-content-between">
      <div class="col-3"><p><strong>Total: Rs.<%= current_cart.total %></strong></p></div>
      <div class="col-3"> 
        <%= form_for @cart, url: cart_order_path do |f| %>
          <%= f.hidden_field :order_status, value: "Placed" %>
          <%= f.hidden_field :food_store_id, value: current_cart.store.id %>
          <%= button_tag type: 'submit', class: "btn btn-success  px-4", title: "Place Order" do %>
            <i class="fa fa-credit-card" aria-hidden="true"></i> Order
          <% end %>
        <% end %>
      </div>
    </div> 
  </div>
<% else %>
  <h2 class="text-center text-muted">Add Some items to cart</h2>
<% end %>