<div class="card p-4 col-6 offset-3">
  <h3><i class="fa fa-tags" aria-hidden="true"></i> Food Categories</h3>

  <hr/>

  <table class="table table-borderless">
    <thead>
      <tr>
        <th>S.No:</th>
        <th>Category Name</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @categories.each_with_index do |category,i|%>
        <tr>
          <td><%= i+1 %></td>
          <td><%= category.name %></td>
          <td>
            <%= edit_link(edit_food_category_path(category.id)) %>
            <%= delete_link(food_category_path(category.id)) %>
          </td>
        </tr>      
      <% end %>
    </tbody>
  </table>

  <hr/>
  
  <div class="text-center">
    <%= link_to "New Category", new_food_category_path, class: "btn btn-primary", title: "Create new category" %>
  </div>
</div>