<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">CANTEEN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav m-auto">
        <% if logged_in? && current_user.admin? %>
          <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav ml-auto">
        <% if logged_in? %>
          <% unless current_user.chef? %>
            <li class="nav-item mx-4">
              <a class="nav-link" href="/">Cart
              </a> 
            </li>
          <% end %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %>
            </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% if current_role == "employee" && current_user.employee %>
              <%= link_to 'Profile', employee_path(current_user.employee.id), class: 'dropdown-item' %>
            <% elsif current_role == "user" %>
              <%= link_to 'Profile', root_path, class: 'dropdown-item' %>
            <% end %>
            <div class="dropdown-divider"></div>
              <%= link_to 'Logout', logout_path, class: 'dropdown-item', method: :delete %>
            </div>
          </li>
            
        <% else %>
          <%= link_to 'Login',   login_path,  class: 'nav-link' %>
          <%= link_to 'Sign up', signup_path, class: 'nav-link' %>
        <%end%>        
      </ul>
    </div>
  </div>
</nav>